

html{
    margin: 0;
    
    margin: auto;
    text-align: center;
}

section
{
    width: 30%;
    background-color: #1111;
    margin: auto;
    padding: 2rem;
}

h1{
    text-align: center;
    text-justify: auto;
}

p{
    width: 70%;
    margin:auto;
    text-align: center;
    text-justify: distribute-all-lines;
}
.label
{
    font-size: large;
}
  
#return_change
{
    width: fit-content;
    font-size: x-large;
    border: 1px solid #111;
    padding: 10px;

}
.input_Content
{
    margin: auto;
}

input{
    width: 20rem;
    margin:1rem auto;
    height: 2rem;
    display: block;
    font-size: 1.5rem ;
    text-align: center;
}

button
{
    display: block;
    margin: 1rem auto;
    font-size: large;
}
.change_txt
{
    font-size: larger;

}
td
{
    width: 3rem;
    height: 3rem;
        
}
th
{
    width: 6rem;
}
table, th, td 
{
    border: 1px solid black;
    border-collapse: collapse;
}
.display_cashGiven
{
    display:none;
}

.output_content
{
    display:none;
    width: 100%;
    
    margin: 4rem auto;
    
}

table
{
    
    table-layout: auto;
    margin: auto;
}
