

html{
    margin: 0;
    
    text-align: center;
}

section
{
    width: 30%;
    background-color: #1111;
    margin: auto;
    padding: 2rem;
    background-color: #a5a58d;
}
.heading
{
    background-color: #ffee32;
    padding: 1rem;
}
h1{
    text-align: center;
    text-justify: auto;
}
hr{
   color: #000000;
    margin: 2rem;
}
p{
    width: 70%;
    margin:auto;
    text-align: center;
    text-justify: distribute-all-lines;
}
.label
{
    font-size: large;
    font-family: 'Open Sans', sans-serif;
}
  
#return_change
{
    width: fit-content;
    font-size: x-large;
    border: 1px solid #111;
    padding: 10px;
    display: none;
    background-color: #ee6055;
}
.input_Content
{
    margin: auto;
}

input{
    width: 20rem;
    margin:1rem auto;
    height: 2rem;
    display: block;
    font-size: 1.5rem ;
    text-align: center;
}

button
{
    display: block;
    margin: 1rem auto;
    font-size: large;
}

button:hover{
    background-color: #25a244;
    color: #FFFFFF;
}
.change_txt
{
    font-size: larger;
    background-color: #ee6055;

}

td
{
    width: 3rem;
    height: 3rem;
        
}
th
{
    width: 6rem;
}
table, th, td 
{
    border: 1px solid black;
    border-collapse: collapse;
}
.display_cashGiven
{
    display:none;
}

.output_content
{
    display:none;
    width: 100%;
    
    margin: 4rem auto;
    
}

table
{
    
    table-layout: auto;
    margin: auto;
}

.error
{
    color: #d90429;
}

.change
{
    background-color: #25a244;
}




@media only screen and (max-width: 1280px) 
{
    section
    {
        width: 70%;
        padding: 1rem 0;
        margin: 0 auto;
    }

    input
    {
        width: 8rem;
        font-size: 1rem;
        margin: 0.5rem auto;
    }

}


@media only screen and (max-width: 768px) 
{
    
    html
    {
        margin: 0;
        
    }
    section
    {
        width: 100%;
        padding: 1rem 0;
        margin: 0 auto;
    }

    .heading
    {
        margin: 10px;
    }
    hr 
    {
        margin: 0.5rem auto 2rem auto;
    }
    input
    {
        width: 8rem;
        font-size: 1rem;
        margin: 0.5rem auto;
    }

    td
    {
        width: 1rem;
        height: 1rem;
        padding: 2px;
    }
    th
    {
        width: 2rem;
    }
}